<hr />
<footer>
    <p>&copy; @DateTime.Now.Year -  山下出泉信息技术有限公司</p>
    <strong>技术支持:</strong>   <a href="mailto:liangzhipipi@163.com">liangzhipipi@163.com</a><br />
    <strong>地址:</strong> 湖南省株洲市-天元区动力谷C栋414<br />
    <strong title="Phone">电话:</strong>+86 133-3333-3333
</footer>