<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Libs/ui/css/layui.css" />
    <script src="~/Libs/ui/layui.all.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <meta charset="utf-8" />
    <script>
        let formItems = [];
        let addPageItems = [];
        const getData = (options, fn) => {
            $.ajax({
                type: options.method,
                url: options.url,
                data: options.data,
                dataType: 'JSON',
                success: res => {
                    fn(res);
                },
                error: err => {
                    error = err;
                    if (err.status) {
                        layer.open({
                            title: '浏览器错误码' + err.status,
                            content: err.responseText
                        });
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
