@model List<NoMES.Models.SiderModel>
<ul class="list-group" id="siderbar" data-spy="affix" data-offset-top="0" data-offset-bottom="300" style="min-width: 260px;">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(item.Name, item.ActionName, item.ControllerName)
        </li>
    }
</ul>