@model MES.Models.SchemaModel
@{
    Layout = null;
}

<div class="table-responsive" style="margin: 12px 0 0 0; ">
    <table class="table text-nowrap" id="table">
        <thead>
            <tr>
                @foreach (var item in Model)
                {
                    <th>@item.Alias</th>
                }
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
    <img src="1.jpg" hidden onerror="test('@Model.RequestUrl')" />
</div>
<nav aria-label="Page navigation" style="float: right">
    <ul class="pagination" id="page">
    </ul>
</nav>
<script>
    const getData = (options) => {
        return axios(options);
    }
    var page = 1;
    var pageIndex = 1;
    const handlePage = (index) => {
        pageIndex = page;
        handleClick('@Model.RequestUrl', index);
    }
    const test = (url) => {
        // get data
        getData({
            url: url + '/1/10',
            data: {},
            method: methods.GET
        }).then(res => {
            // deal res
            page = res.data.TotalPages;
            pageIndex = res.data.PageIndex + 1;
            var pageContent='';
            var prev = '<li><a href="javascript:;" class="prev" aria-label="Previous"><span aria-hidden="true">«</span></a></li>';
            var next = '<li><a href="javascript:;" class="next" aria-label="Next"><span aria-hidden="true">»</span></a></li>'
            for (var i = 1; i <= page; i++){
                if (i !== pageIndex) {
                    pageContent += '<li><a onclick="handlePage('+i+')">'+i+'</a></li>';
                } else {
                    pageContent += '<li  class="active"><a onclick="handlePage('+i+')">'+i+'</a></li>';
                }
            }
            $("#page").empty();
            $("#page").append(prev+pageContent+next);
            var table = document.querySelector("#tbody");
            for (var i = 0, l = res.data.List.length; i < l; i++) {
                let tr = document.createElement("tr");
                for (var j in res.data.List[i]) {
                    var td = document.createElement("td");
                    td.innerHTML = res.data.List[i][j]
                    tr.appendChild(td)
                }
                table.append(tr)
            }
        })
    }
</script>
