@model MES.Models.SchemaModel
@{
    Layout = null;
}

<div class="table-responsive" style="margin: 12px 0 0 0; ">
    <table class="table text-nowrap" id="table">
        <thead>
            <tr>
                @foreach (var item in Model)
                {
                    <th>@item.Alias</th>
                }
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
    <img src="1.jpg" hidden onerror="test('@Model.RequestUrl')" />
</div>
<script>
    const getData = (options) => {
        return axios(options);
    }
    const test = (url) => {
        console.log("@Model.RequestUrl")
        // get data
        getData({
            url: url,
            data: {},
            method: methods.POST
        }).then(res => {
            // deal res
            // console.log(res.data.List);
            var table = document.querySelector("#tbody");
            for (var i = 0, l = res.data.List.length; i < l; i++) {
                let tr = document.createElement("tr");
                for (var j in res.data.List[i]) {
                    var td = document.createElement("td");
                    td.innerHTML = res.data.List[i][j]
                    tr.appendChild(td)
                }
                table.append(tr)
            }
        })
    }
</script>
