@model MES.Models.SchemaModel
@{ 
    Layout = null;
}

<div class="table-responsive" style="margin: 12px 0 0 0;">
    <table class="table">
        <tr>
            @foreach(var item in Model)
            {
                <th>@item.Alias</th>
            }
        </tr>
        <tr id="">
            
        </tr>
    </table>
    <!--采用一个报错的img实现页面加载完成时请求-->
    <img src="1.jpg"  hidden onerror="test()" />
</div>
<script>
    const BASE_URL = "";
    const methods = {
        POST: "post",
        GET: "get",
        DELETE: "delete",
        PUT: "put"
    }
    const getData = (options) => {
        return axios(options);
    }
    const handleClick = (params) => {
        getData({
            url: BASE_URL + "",
            data: params,
            method: methods.POST
        }).then(res => {
            // deal res
        })
    }
    const test = () => {
        // 这里获取表格的数据

    }
</script>
