@model MES.Models.SchemaModel
<div class="table-responsive" style="margin: 12px 0 0 0;">
    <table class="table">
        <tr>
            @foreach(var item in Model)
            {
                <th>@item.Alias</th>
            }
        </tr>
        <tr>
            
        </tr>
    </table>
</div>

<script>
    const BASE_URL = "";
    const methods = {
        POST: "post",
        GET: "get",
        DELETE: "delete",
        PUT: "put"
    }
    const getData = (options) => {
        return axios(options);
    }
    const handleClick = (params) => {
        getData({
            url: BASE_URL + "",
            data: params,
            method: methods.POST
        }).then(res => {
            // deal res
        })
    }
    window.onload = function () {
    }
</script>
