@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
<div id="toolIndex">
    <div style="margin: 12px;">
        <Breadcrumb>
            <Breadcrumb-Item>工装管理</Breadcrumb-Item>
            <Breadcrumb-Item>工装Home</Breadcrumb-Item>
        </Breadcrumb>
    </div>
    <Card dis-hover>
        <Row>
            <i-col span="6">
                <i-input v-model="formItem.input" placeholder="输入序号查询"></i-input>
            </i-col>
            <i-col span="3">
                <i-button style="margin-left: 12px;" type="primary">查询</i-button>
            </i-col>
            <i-col span="3">
                <i-button  style="margin-left: 12px" type="default">重置</i-button>
            </i-col>
        </Row>
        <div v-show="!isExt">
            <Divider />
            <div style="text-align: center; cursor: pointer;">
                <Icon type="ios-arrow-down" v-on:click="handleShowExt" />
            </div>
        </div>
        <div v-show="isExt">
            <i-select v-model="formItem.select" style="width: 240px; margin-top: 20px;">
                <i-option value="beijing">New York</i-option>
                <i-option value="shanghai">London</i-option>
                <i-option value="shenzhen">Sydney</i-option>
            </i-select>
            <Row style="margin-top: 20px;">
                <i-col span="6">
                    <date-picker type="date" placeholder="日期选择器" v-model="formItem.date"></date-picker>
                </i-col>
                <i-col span="6">
                    <time-picker type="time" placeholder="时间选择器" v-model="formItem.time"></time-picker>
                </i-col>
            </Row>
            <Divider />
            <Icon type="ios-arrow-up" v-on:click="handleHiddenExt" />
        </div>
    </Card>
    <Card dis-hover style="margin-top: 12px;">
        <i-table border  width="100%" :columns="columns" :data="data"></i-table>
        <div style="margin: 10px;overflow: hidden">
            <div style="float: right;">
                <Page :total="100"  :current="1"  v-on:on-change="changePage"></Page>
            </div>
        </div>
    </Card>
    <Card dis-hover style="margin-top: 12px;">
        <div id="Line" style="width: 100%;height:400px;"></div>
    </Card>
</div>

<script>
    var vm = new Vue({
        el: "#toolIndex",
        data: {
            msg: "模板",
            isExt: false,
            formItem: {
                input: '',
                select: '',
                date: '',
                time: '',
            },
            current: 3,
            columns: [
                {
                    title: '序号',
                    key: 'id',
                    fixed: 'left',
                    width: 80
                },
                {
                    title: '编码',
                    key: 'code',
                    width: 120
                },
                {
                    title: '版本',
                    key: 'version',
                    width: 80
                },
                {
                    title: '名称',
                    key: 'name',
                    width: 80
                },
                {
                    title: '规格',
                    key: 'specific',
                    width: 130
                },
                {
                    title: '材质',
                    key: 'material',
                    width: 80
                },
                {
                    title: '单重',
                    key: 'height',
                    width: 80
                },
                {
                    title: '代号',
                    key: 'mark',
                    width: 80
                },
                {
                    title: '备注',
                    key: 'remark',
                    width: 80
                },
                {
                    title: '计量单位',
                    key: 'unit',
                    width: 100
                },
                {
                    title: '数量',
                    key: 'count',
                    width: 80
                },
                {
                    title: '货币单位',
                    key: 'currency',
                    width: 100
                },
                {
                    title: '单价',
                    key: 'price',
                    width: 80
                },
                {
                    title: '最低库存量',
                    key: 'minInventory',
                    width: 120
                },
                {
                    title: '最高库存量',
                    key: 'maxInventory',
                    width: 120
                },
            ],
            data: [
                {
                    id: "1",
                    code: "T0003012",
                    version: "1.0.1",
                    name: "车刀",
                    specific: "20*30",
                    material: "铝合金",
                    unit: "个"
                },
                {
                    id: "2",
                    code: "T0003013",
                    version: "1.0.31",
                    name: "手工锯",
                    specific: "78*254*32",
                    material: "铝合金",
                    unit: "个"
                },
                {
                    id: "3",
                    code: "T0003014",
                    version: "2.0.1",
                    name: "手工刨",
                    specific: "78*254*32",
                    material: "铝合金",
                    unit: "个"
                },
                {
                    id: "4",
                    code: "T0003015",
                    version: "1.0.0",
                    name: "剪刀",
                    specific: "78*254*32",
                    material: "铝合金",
                    unit: "个"
                },
            ],
        },
        methods: {
            // 展示多条件查询
            handleShowExt() {
                this.isExt = true
            },
            // 关闭多条件查询
            handleHiddenExt() {
                this.isExt = false
            },
            // 表格分页
            changePage(index) {
                console.log(index)
            },
            //点击查询按钮
            handleSearch() {
            }
        }
    })
    // 初始化一个echarts实例
    var myChart = echarts.init(document.getElementById('Line'));
    // 随机数生成
    function randomData() {
        now = new Date(+now + oneDay);
        value = value + Math.random() * 21 - 10;
        return {
            name: now.toString(),
            value: [
                [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('-'),
                Math.round(value)
            ]
        }
    }

    var now = +new Date(1997, 9, 3);
    var oneDay = 24 * 3600 * 1000;
    var value = Math.random() * 1000;
    var data = [];
    var data1 = [];
    for (var i = 0; i < 1000; i++) {
        data.push(randomData());
        data1.push(randomData())
    }
    // echarts配置文件
    option = {
        title: {
            text: '动态数据示例'
        },
        grid: {
            top: 40,
            bottom: 80
        },
        dataZoom: [
            {
                show: true,
                realtime: true,
                start: 80,
                end: 100
            },
            {
                type: 'inside',
                realtime: true,
                start: 80,
                end: 100
            }
        ],
        legend: {
            data:['模拟数据1', '模拟数据2'],
            selectedMode: 'single',
            itemWidth:10,  //图例标记的图形宽度
            itemHeight:1, //图例标记的图形高度
        },
        tooltip: {
            trigger: 'axis',
            formatter: function (params) {
                params = params[0];
                var date = new Date(params.name);
                return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
            },
            axisPointer: {
                animation: false
            }
        },
        xAxis: {
            type: 'time',
            splitLine: {
                show: false
            }
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],
            splitLine: {
                show: false
            }
        },
        series: [
            {
                name: '模拟数据1',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: data
            },
            {
                name: '模拟数据2',
                type: 'line',
                showSymbol: false,
                hoverAnimation: false,
                data: data1
            },
        ]
    };
    myChart.setOption(option);
    // 定时器，每一秒钟更新一次图表
    setInterval(function () {

        for (var i = 0; i < 5; i++) {
            data.shift();
            data.push(randomData());
        }
        for (var j = 0; j < 5; j++) {
            data1.shift();
            data1.push(randomData());
        }
        myChart.setOption({
            series: [
                {
                    name: '模拟数据1',
                    data: data
                },
                {
                    name: '模拟数据2',
                    data: data1
                }
            ]
        });
    }, 1000);
</script>