.cardPadding {
    padding: 20px 14px 0 14px;
}

.layui-table-cell {
    height: 36px !important;
    line-height: 36px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    height: 3em;
    width: 3em;
    margin: 0 0.4em;
    line-height: 3em;
    text-align: center;
    font-weight: 600;
    color: white;
    background: rgba(204,153,255,0.8);
    border: 6px solid rgba(223,191,255,0.8);
    border-radius: 3em;
    box-shadow: 0 0 5px rgba(223,191,255,0.8);
}