
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Libs/ui/layui.all.js"></script>


</head>
<body>
    <button type="button" onClick="btnOnClick()">Click me!</button>
</body>
</html>
<script>
	function btnOnClick(){
		console.log(layui);
		layui.layer.open({
			type: 2,
            title: '在线调试',
            btn:'确定',
			//content: '@Url.Action("Layer", "Home")',
            content: 'baidu.com',
            yes: function (index, layero) {
                layer.close(index);
                console.log(layero);
                console.log(window.layerParam);
			}
		});
	}
</script>