@using SQ_Render.Models.View
@using SQ_Render.Const
@model AbstractElement


<table class="layui-hide" id="table" lay-filter="table"></table>
<script>
    window.onload = function () {
        initTable("table");
    }
</script>