@using SQ_Render.Models.View
@using SQ_Render.Const
@model AbstractElement
<div class="container row">
    <div class="col s8 offset-s2">
        @Html.Render(Model)
    </div>
</div>
<script>
    const handleEdit = (e, url) => {
        var index = e.parentNode.parentNode.parentNode.attributes['data-index'].value
        let row = tableData[index]
        let getFirstKey = row => row[Object.keys(row)[0]];
        console.log(getFirstKey(row))
    }
    const handleDel = (e, url) => {
        var index = e.parentNode.parentNode.parentNode.attributes['data-index'].value
        let row = tableData[index]
        let getFirstKey = row => row[Object.keys(row)[0]];
        console.log(getFirstKey(row))
    }
</script>