@using SQ_Render.Models.View
@using SQ_Render.Const
@model AbstractElement

<div class="container row">
    <div class="col s8 offset-s2">
        @Html.Render(Model)
    </div>
</div>
<script>
</script>