@using SQ_Render.Models.View
@using SQ_Render.Const
@model AbstractElement
<div class="container row">
    <div class="col s8 offset-s2">
        @Html.Render(Model)
    </div>
</div>
<script>
    const handleEdit = (e, url) => {
        var index = e.parentNode.parentNode.parentNode.attributes['data-index'].value
        var key = Object.keys(tableData[index]);
        console.log(tableData[index][key[0]])
    }
</script>