@using SQ_Render.Models.View
@using SQ_Render.Const
@model AbstractElement



<div>
    搜索：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="fuzzyInput" autocomplete="off">
    </div>
    <button class="layui-btn" id="fuzzyQuery">搜索</button>
</div>

<script src="~/Scripts/App/table.js"></script>
@Html.Render(Model)
<script src="~/Scripts/App/request.js"></script>
<script src="~/Scripts/App/form.js"></script>
<script>
    var findObjArr = (str, arr) => {
        let _arr = []
        for (var obj of arr) {
            for (var field in obj) {
                if (String(obj[field]).toLowerCase().indexOf(str.toLowerCase()) > -1) {
                    _arr.push(obj)
                    break
                }
            }
        }
        return _arr
    }
    var $ = layui.$, active = {
        reload: function () {
            var demoReload = $('#demoReload');
            table.reload(tableId, {
                page: {
                    curr: 1
                }
                , where: {
                    id: val
                }
            });
        }
    };

    $('#fuzzyQuery').on('click', function () {
        var val = $('#fuzzyInput').val()
        console.log(val)
        console.log(table)
        console.log(tableData)
        var res = findObjArr(val, tableData)
        console.log(res)
        table.reload(tableId, {
            page: {
                curr: 1
            },
            data: res
        });
    });
</script>