@*<div class="row">
    <div class="col s12">
        <div class="input-field inline">
            <input id="email_inline" type="email" class="validate">
            <label for="email_inline">邮箱</label>
            <span class="helper-text" data-error="wrong" data-success="right">请输入合法的邮箱地址</span>
        </div>
    </div>
    <div class="col s12">
        <div class="input-field inline">
            <input id="pw_inline" type="password" class="validate" data-length="10">
            <label for="pw_inline">密码</label>
            <span class="helper-text" data-error="wrong" data-success="right">请输入不超过十位的密码</span>
        </div>
    </div>
    <div class="col s12">
        <a class="waves-effect waves-light btn">button</a>
    </div>
    <div class="input-field">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
    </div>
</div>*@

<div class="">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="margin-left: 20px;">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">Sass</a></li>
                <li><a href="">Components</a></li>
                <li><a href="">JavaScript</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col s3">
            <!-- Grey navigation panel -->
        </div>
        <div class="col s9">
            <!-- Teal page content  -->
        </div>
    </div>
</div>

