<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Libs/ui/css/layui.css" />
    <script src="~/Libs/ui/layui.all.js"></script>

    <link rel="stylesheet" href="~/Content/app.css" />
    <script src="https://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
    @Scripts.Render("~/bundles/jquery")

    <script type="text/html" id="toolbar">
        <div class="layui-btn-container"></div>
    </script>

    <script>
        var table = null
        var tableId = null
        var tableData = []
        const initTable = (id, dataTable) => {
            var res = JSON.parse(dataTable);
            console.log(res)
            var tableHeader = [];
            for (var column of res.Columns) {
                let arr = []
                for (var field of column) {
                    if (field.Id === null) {
                        arr.push({
                            title: field.Alais,
                            field: field.Name,
                            sort: field.IsSortable,
                            colspan: field.Colspan === 0 ? 1 : field.Colspan,
                            rowspan: field.Rowspan === 0 ? 1 : field.Rowspan,
                        })
                    } else {
                        arr.push({
                            fixed: "right",
                            toolbar: "#" + field.Id,
                            title: field.Alais,
                            colspan: field.Colspan === 0 ? 1 : field.Colspan,
                            rowspan: field.Rowspan === 0 ? 1 : field.Rowspan,
                        })
                    }
                }
                tableHeader.push(arr)
            }
            tableId = id
            table = layui.table
            tableData = res.Rows

            table.render({
                id: tableId,
                elem: '#' + id,
                toolbar: '#toolbar',
                title: res.TableName,
                cols: tableHeader,
                data: res.Rows,
                page: true,
                limits: res.Limits,
                cellMinWidth: 80,
                limit: res.PageSize,
            });
        }
    </script>
    <title>山下出泉</title>
</head>
<body>
    @RenderBody()
</body>
</html>
