<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Libs/ui/css/layui.css" />
    <script src="~/Libs/ui/layui.all.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/materialize.min.css" />
    <link rel="stylesheet" href="~/Content/app.css" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/materialize.min.js"></script>
    <script>
        const pushData = (options) => {
            $.ajax({
                type: options.method,
                url: options.url,
                data: options.data,
                dataType: 'JSON',
                success: res => {
                },
                error: err => {
                    console.log(err)
                    if (err.status) {
                        layer.open({
                            title: "请求发生错误",
                            content: err.responseText
                        })
                    }
                }
            })
        }

        const getData = (options, fn1) => {
            $.ajax({
                type: options.method,
                url: options.url,
                data: options.data,
                dataType: 'JSON',
                success: res => {
                    fn1(res)
                },
                error: err => {
                    console.log(err)
                    if (err.status) {
                        layer.open({
                            title: "请求发生错误",
                            content: err.responseText
                        })
                    }
                }
            })
        }

        const getFormData = (formId) => {
            let res = []
            let inputList = $("#" + formId + " input")
            for (let i = inputList.length; i--;) {
                res.push({
                    name: inputList[i].parentNode.getAttribute("id"),
                    value: inputList[i].value
                })
            }
            console.log(res)
            return res
        }

        let table = null 
        const initTable = (id, url) => {
            getData({
                method: 'GET',
                url: url,
                data: {}
            }, res => {
                console.log(res)
                let headerList = [];
                for (let i = 0; i < res.length; i++) {
                    headerList.push({
                        field: res[i].FieldName,
                        title: res[i].Alias,
                        sort: res[i].IsSort 
                    })
                }
                table = layui.table;
                table.render({
                    elem: '#' + id,
                    height: 315,
                    cols: [headerList],
                    page: true,
                    limit: 10
                });
            })
        }
    </script>
    <title>SQ_Render</title>
</head>
<body>
    @RenderBody()
</body>
</html>
