<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Libs/ui/css/layui.css" />
    <script src="~/Libs/ui/layui.all.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/materialize.min.css" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/materialize.min.js"></script>
    <script>
        const getData = (options, fn) => {
            $.ajax({ 
                type: options.method,
                url: options.url,
                data: options.data,
                dataType: 'JSON',
                success: res => {
                    fn(res)
                },
                error: err => {
                    error = err;
                    if (err.status) {
                        layer.open({
                            title: "请求发生错误",
                            content: err.responseText
                        })
                    }
                }
            })
        }

        const getFormData = (formId) => {
            let res = []
            let inputList = $("#" + formId + " input")
            for (let i = inputList.length; i--;) {
                res.push({
                    name: inputList[i].getAttribute("name"),
                    value: inputList[i].value
                })
            }
            console.log(res)
            return res
        }
    </script>
    <title>SQ_Render</title>
</head>
<body>
    @RenderBody()
</body>
</html>
