@{
    ViewBag.Title = "Home";
    Layout = null;
}

<html>
<head>
    <script src="layui.all.js"></script>

</head>
<body>
    <button type="button" onClick="btnOnClick()">Click me!</button>
</body>
</html>
<script>
	function btnOnClick(){
		console.log(layui);
		layui.layer.open({
			type: 2,
			title: '在线调试',
			content: @Url.Action("Layer", "Home"),
			yes: function(index, layero){
			    console.log(layero);
			}
		});
	}
</script>