@using SQ_DB_Framework.Entities
@using MES.Infrastructure
@model EntityBase
@{ Layout = "~/Views/Shared/_LayoutContainer.cshtml"; }


<div class="layui-row">
    <div class="layui-col-xs8 layui-col-sm6 layui-col-md6">
        @Html.Action("PartialForm", "Search", new { entity = Model })
    </div>
    <div class="layui-col-xs8 layui-col-sm6 layui-col-md6">
        @Html.Action("PartialAddPage", "AddEntity", new { entity = Model })
    </div>
    <div class="layui-col-xs12 layui-col-sm8 layui-col-md8">
        @Html.Action("PartialTable", "Table", new { entity = Model })
    </div>
</div>